html,
body {
  width: 1500 px;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
}

#menu {
	width: 200px;
	color: gray;
	background-color: #191919;

}

h1 {
	margin: 5px;
	font-size: 40px;
	color: grey;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

h2 {
	margin: 5px;
	font-size: 20px;
	color: grey;
  padding: 1px 1px;
  border-width: 5px;

}

h3 {
	margin: 5px;
}

#notes {
	width: 400px;
	background-color: white;

}

.one_note {	
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    height: 55px;
    padding: 5px;
    font-size: 15px;
}

.notes_title {
	color: black;
	font-family: "Microsoft YaHei";
}

.notes_content{

}
#main {
	width: 700px;
	background-color: lightgrey;

}

#intro{
	width: 700px;
	background-color: lightgrey;

}

.show_page_title {
	height: 200px;
	text-align: left;
    padding-left: 5px;
	color: white;
	font-size: 30px;
	background: brown;
    display: table-cell;
    vertical-align: middle;
    width: 700px;
}

.clickableH2 {
  margin: auto; 
  border-color: #191919;

  border-width: 2px 2px;
  border-style: solid;
  margin-top: 5px;
  margin-bottom: 5px;
}

.hoverCursor {
	cursor: pointer;
	border-color: white;
	border-bottom-color: grey;
 	border-right-color: grey;

}

.clickedH2 {
	margin: auto;
	border-width: 2px 2px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
	border-color: white;
	border-top-color: grey;
  	border-left-color: grey;
    background-color: #0C0C0C;
}